Garcia_Olives_Adria_pack4_dtd_ud3/act1dtd.dtd

<!ELEMENT llistafactures (factures+)>
<!ELEMENT factures (factura+)>
<!ELEMENT factura (emissor)>
<!ELEMENT emissor (cif, nom, vendes?, nom_pagador, import)>
<!ELEMENT cif (#PCDATA)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT vendes (#PCDATA)>
<!ELEMENT nom_pagador (#PCDATA)>
<!ELEMENT import (#PCDATA)>