Garcia_olives_adria_pack3_dtd/act4dtd.xml

<!ELEMENT operaciones (operacion+)>
<!ELEMENT operacion (venta*, compra*)>
<!ELEMENT venta (titulosvendidos, cantidadtotal, entregado?, importe)>
<!ELEMENT titulosvendidos (titulo+)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT cantidadtotal (#PCDATA)>
<!ELEMENT entregado EMPTY>
<!ELEMENT importe (#PCDATA)>
<!ATTLIST importe moneda CDATA #REQUIRED>
<!ELEMENT compra (tituloscomprados, proveedor, fechacompra)>
<!ELEMENT tituloscomprados (titulo+)>
<!ELEMENT proveedor (#PCDATA)>
<!ELEMENT fechacompra (dia, mes, anio)>
<!ELEMENT dia (#PCDATA)>
<!ELEMENT mes (#PCDATA)>
<!ELEMENT anio (#PCDATA)>