garcia_olives_adria_ud3_pack6/act3.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="tipus_preu">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="6"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="preu_sortida" type="tipus_preu_amb_minim"/>
  <xs:complexType name="tipus_preu_amb_minim">
    <xs:simpleContent>
      <xs:extension base="tipus_preu">
        <xs:attribute name="minim" type="tipus_preu"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>